Source: libdocset0
Section: libs
Priority: optional
Maintainer: Roman Kashitsyn <roman.kashitsyn@gmail.com>
Build-Depends:
 cmake (>= 2.8),
 debhelper (>= 7),
 libsqlite3-dev,
 libxml2-dev
Standards-Version: 3.9.4
Vcs-Git: git://github.com/roman-kashitsyn/libdocset.git
Vcs-Browser: https://github.com/roman-kashitsyn/libdocset

Package: libdocset0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to read docset bundles
 The library provides simple interface to read docset
 bundles used by the Dash application for the Mac OS.

Package: libdocset0-dev
Section: libdevel
Architecture: any
Depends: libdocset0 (= ${source:Version}),
  ${shlibs:Depends}, ${misc:Depends}
Description: Library to read docset bundles
 Development files package.

Package: libdocset++0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to read docset bundles - C++ bindings
 C++ bindings for libdocset.

Package: libdocset++0-dev
Section: libdevel
Architecture: any
Depends: libdocset++0 (= ${source:Version}),
  ${shlibs:Depends}, ${misc:Depends}
Description: C++ bindings for libdocset - development files
 Development files package.


