Source: libdocset0
Section: libs
Priority: optional
Maintainer: Roman Kashitsyn <roman.kashitsyn@gmail.com>
Build-Depends:
 cmake (>= 2.8),
 debhelper (>= 9),
 libsqlite3-dev,
 libxml2
Standards-Version: 3.9.4
Vcs-Git: git://github.com/roman-kashitsyn/libdocset.git
Vcs-Browser: https://github.com/roman-kashitsyn/libdocset

Package: libdocset0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to read docset bundles
 The library provides simple interface to read docset
 bundles used by the Dash application for the Mac OS.
